In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import yfinance as yf

In [4]:
spy = yf.Ticker('SPY')

In [6]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [25]:
#utilities and functions

def get_sp_data(start='2008-01-01', end=None, save=False):
    # Get the current SP components, and get a tickers list
    sp_assets = pd.read_html(
        'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
    assets = sp_assets['Symbol'].str.replace('.', '-').tolist()
    # Download historical data to a multi-index DataFrame
    try:
        data = yf.download(assets, start=start, end=end)
        if save:
            filename = save
            data.to_pickle(filename)
            print('Data saved at {}'.format(filename))
    except ValueError:
        print('Failed download, try again.')
        data = None
    return data

def best_performers(budget, n, df):
    #return up to n best performers based on the available budget
    

    pass

In [27]:
all_prices = get_sp_data('2021-01-01')
df = all_prices['Open']

[*********************100%%**********************]  503 of 503 completed

        2021-01-04 00:00:00  2024-07-17 00:00:00        PnL
Ticker
A                118.940002           135.160004  16.220001
AAL               15.850000            10.950000  -4.900001
AAPL             133.520004           229.479996  95.959991
ABBV             107.180000           169.509995  62.329994
ABNB             150.990005           149.240005  -1.750000
...                     ...                  ...        ...
XYL              102.029999           140.509995  38.479996
YUM              109.019997           129.070007  20.050011
ZBH              151.019058           107.459999 -43.559059
ZBRA             385.750000           332.109985 -53.640015
ZTS              166.000000           182.000000  16.000000

[503 rows x 3 columns]

In [58]:
comparisons = pd.concat([df.iloc[0].to_frame(), df.iloc[-1].to_frame()], axis=1)
comparisons["PnL"] = comparisons[comparisons.columns[1]] - comparisons[comparisons.columns[0]]